html, body{
	margin: 0;
	padding: 0;
}

body{
	background-color: #CCCCCC;
	font-family: Verdana, Geneva, sans-serif;
}

#wrap{
	width: 50%;
	margin:0 auto;
}

header img{
	width: 100%;
	padding: 8px 0px 0px 0px;
}

nav{
	background-color: #0EC8C7;
	text-align: center;
	padding: 18px;
}

section{
	background-color: #ed3434;
	overflow: auto;
}

aside{
	width: 16%;
	background-color: #ed3434;
	float: left;
	padding: 2%;
	height: 100%;
	
}

nav a:hover{
	background-color: #ed3434;
	color: #0EC8C7;
}

aside a:hover{
	background-color: #0EC8C7;
	color: #ed3434;
}

nav ul{
	margin: 0;
}

nav li{
	display: inline;
}

nav a{
	color: white;
	text-decoration: none;
	padding: 10px;
}

aside a{
	color: white;
	text-decoration: none;
	padding: 12px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside li{
	padding: 10px;
}

article{
	width: 74%;
	background-color: white;
	float: right;
	padding: 2%;
	height: 100%;
}

article h1{
	text-align: center;
	font-size: 32px;
	padding: 0;
	margin: 0;
}

.cupcakes{
	width: 38%;
	float: right;
	margin: 0 0 10px 10px;
}

footer{
	background-color: #0EC8C7;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
}

footer li{
	display: inline;
	margin: 6px;
	padding: 0;
}

